/* Updated CSS Variables */
:root {
  --white: #FAFAFA;
  --offwhiteGreen: #F0FFF4;
  --pastelGreen: #CDEECC;
  --lightGreen: #A3D9A5;
  --mediumGreen: #76C893;
  --hoverGreen: #5DBB89;
  --deepGreen: #4F9D69;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  margin: 0;
  overflow: hidden;
}

/* Nav Styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--mediumGreen);
  color: white;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95vw;
  margin-top: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 100;
}

.nav nav {
  margin: auto 20px;
  margin-right: 20px;
}

.nav nav a {
  margin: 0 20px;
  cursor: pointer;
  color: white;
}

.nav h1 {
  margin: auto 20px;
  font-weight: 500;
}

/* Content Styles */
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 94vw;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 20px;
}

/* Calendar page */
.calendarBody {
  flex: 2 1 1200px;
  padding: 10px 20px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: var(--pastelGreen);
  height: 85vh;
  min-height: 505px;
}

/* Calendar header */
.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 30px;
}

#prev-month, #next-month {
  display: block;
  background-color: var(--lightGreen);
  color: black;
  width: 30px;
  height: 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 10px var(--mediumGreen);
  transition: background-color 0.5s;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s, transform 0.5s;
}

#prev-month:hover, #next-month:hover {
  background-color: var(--hoverGreen);
  transform: scale(1.2);
  transition: background-color 0.5s, transform 0.5s;
}

#month-year {
  width: 140px;
  text-align: center;
  display: block;
}

/* Calendar styles */
.calendar {
  border-collapse: separate;
  background-color: var(--pastelGreen);
  margin: 10px auto 20px auto;
  border-spacing: 10px;
  height: 90%;
}


.today p {
  font-size: xx-large;
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  margin: auto;
  box-shadow: 0 0 10px var(--mediumGreen);

  border-radius: 50%; /* or 50% */

  background-color: var(--hoverGreen);
  color: white;
  text-align: center;
  font-size: 2em;

  margin: 0 auto;
}


.calendar thead th {
  width: 170px;
  height: 80px;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--white);
  border-radius: 12px;
}

.calendar tbody td {
  position: relative;
  overflow: visible;
  z-index: 0;
  width: 22vw;
  background-color: var(--white);
  border-radius: 12px;
  transition: background-color 0.2s, transform 0.2s, scale 0.5s, box-shadow 0.5s;
  text-align: center;
}

.calendar tbody td:hover {
  background-color: var(--offwhiteGreen);
  transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
  box-shadow: 0px 0px 0px 2px var(--mediumGreen);
  scale: 1.5;
  z-index: 10;
}

.calendar tbody td p:active {
  transform: scale(0.9);
}

.today:hover p {
    color: var(--hoverGreen);
    border: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background-color: transparent;
    left: 0;
    top: 0px;
    transform: none;
    line-height: normal;
}


/* Reminders page */
.day-view {
  background-color: var(--pastelGreen);
  display: none;
  position: relative;
  flex-basis: 600px;
  margin-left: 10px;
  padding: 10px 20px;
  min-height: 500px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.close {
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  align-self: normal;
  position: absolute;
  margin: 30px;
}


/* Reminders button */
.add-reminder {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: var(--lightGreen);
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 0 10px var(--mediumGreen);
  transition: background-color 0.5s, transform 0.5s;
}

.add-reminder:hover {
  background-color: var(--hoverGreen);
  transform: scale(1.2);
  transition: background-color 0.5s, transform 0.5s;
}

/*Reminders Popup*/
.reminderPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 99999999999;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--pastelGreen);
  box-shadow: 0px 0px 10px black;
  border-radius: 10px;
  width: 400px;
  height: 170px;
  padding: 1%;
  text-align: center;
}

.reminderPopup h2 {
  font-weight: 600;
  margin-top: -7px;
}

#reminderInput {
  width: 60%;
  border: none;
  height: 34px;
  padding: 0px 10px;
  border-radius: 5px;
}

#reminderInput::-webkit-datetime-edit-text {
  padding: 19px 4px;
}

/* Hour */
#reminderInput::-webkit-datetime-edit-hour-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px;
}

#reminderInput::-webkit-datetime-edit-hour-field:focus {
  color: var(--deepGreen);
}

/* Minute */
#reminderInput::-webkit-datetime-edit-minute-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px;
}

#reminderInput::-webkit-datetime-edit-minute-field:focus {
  color: var(--deepGreen);
}

/* AM/PM */
#reminderInput::-webkit-datetime-edit-ampm-field {
  background-color: var(--deepGreen);
  border-radius: 15%;
  color: #fff;
  padding: 19px 13px;
}

#saveReminder {
  margin: 0 auto;
  margin-top: 5%;
  width: 20%;
  height: 17%;
  font-weight: 500;
}

#saveReminder {
  display: block;
  background-color: var(--lightGreen);
  color: black;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 10px var(--mediumGreen);
  transition: background-color 0.5s;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s, transform 0.5s;
}

#saveReminder:hover {
  background-color: var(--hoverGreen);
  transform: scale(1.1);
  transition: background-color 0.5s, transform 0.5s;
}

.reminderClose {
  position: absolute;
  height: 20px;
  top: 10px;
  right: 10px;
  z-index: 999999999999;
}

/*Media Queries*/
@media screen and (max-height: 929px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .content {
    margin: auto 20px;
    height: 95vh;
  }

  /* Nav Styles */
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    background-color: var(--mediumGreen);
    color: white;
    position: relative;
    left: 0%;
    transform: translateX(0%);
    top: 0;
    width: 8vw;
    height: 100vh;
    margin-top: 0px;
    border-radius: 0px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 100;
    gap: 10px;
    min-width: 50px;
  }

  .nav nav {
    margin: 5px 20px;
    margin-right: 20px;
  }

  .nav nav a {
    cursor: pointer;
    color: white;
  }

  .nav h1 {
    margin: 0 20px;
    font-weight: 500;
  }

  /*Calendar styles*/
  .calendarBody {
    height: 90vh;
  }

  .calendar

  .calendar {
    margin-top: 0px;
    height: 90%;
  }

  .calendar-header {
    margin: 15px;
  }
}

@media screen and (max-height: 800px) {
  .today p {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: large;
  }
}
